/* Animation */

.theme-menu__button:disabled::before {
  animation: arrowAnimation 0.5s ease-in-out infinite alternate;
}

.like-icon.is-liked .heart {
  animation: scaleAnimation 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in 0.3s 1 alternate;
}

@keyframes arrowAnimation {
  from {
    left: -20px;
  }
  to {
    left: -16px;
  }
}

@keyframes scaleAnimation {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes sparksAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
